﻿<section id="dashboard-view" class="mainbar" data-ng-controller="networkServices as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="Service Info"
                            allow-collapse="true">
                        </div>
                        <div class="widget-content text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Service</th>
                                        <th>Machine</th>
                                        <th>Status</th>
                                        <th>Control</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="s in vm.serviceStatusCollection">
                                        <td>{{s.Name}}</td>
                                        <td>{{s.MachineName}}</td>
                                        <td>{{s.Status}}</td>
                                        <td>
                                            <a href="" data-ng-click="vm.startService(s)">Start</a> | 
                                            <a href="" data-ng-click="vm.stopService(s)">Stop</a> | 
                                            <a href="" data-ng-click="vm.pauseService(s)">Pause</a> | 
                                            <a href="" data-ng-click="vm.resumeService(s)">Resume</a> | 
                                            <a href="" data-ng-click="vm.restartService(s)">Restart</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
