﻿<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <button class="button btn-primary" data-ng-click="vm.refreshMachines()">Start Polling</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="Machine Info"
                            allow-collapse="true">
                        </div>
                        <div class="widget-content text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Computer Name</th>
                                        <th>CPU</th>
                                        <th>RAM Left</th>
                                        <th>Paging Usage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="m in vm.machines">
                                        <td><a href="\\{{m.MachineName}}\">{{m.MachineName}}</a></td>
                                        <td>{{m.CPU}}</td>
                                        <td>{{m.RAMRemaining}}</td>
                                        <td>{{m.PageFileUsage}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
